@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  margin: 0 auto;
  padding: 10px;
  width: auto;
  max-width: 600px;
  font-family: 'Muli', sans-serif;
  font-size: 90%;
  line-height: 180%;
}

h1, h2, h3, form {
  text-align: center;
}

#morse {
  text-align: center;
  font-size: 2em;
  margin: 10px;
}
